body {
    background-color: white;
}

#stahnout {
    text-align: center;
    margin: auto;
}

#stahnout a {
    display: inline-block;
    background-color: black;
    width: 60px;
    height: 20px;
    padding: 10px;
    text-decoration: none;
    color: white;
}

#stahnout a:hover {
    color:rgba(255, 255, 255, 1)
}