body {
    text-align: center;
    background-color: white;
    margin: 0px;
}

#space {
    height: 100px;
}

#stahnout {
    text-align: center;
    margin: auto;
}

a {
    display: inline-block;
    background-color: black;
    padding: 10px;
    text-decoration: none;
    color: white;
    border-color: black;
    border-radius: 3px;
    border-style: solid;
}

a:hover {
    color: black;
    background-color: white;
    text-decoration: underline;
}

#pre {
    font-size: 12px;
    padding: 5px;
}

#timer {
    font-size: 24px;
    text-align: center;
}